.current-question {
  background-image: url("/../../images/type.png");
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-weight: 500;
  color: #FFFF00;
  background-color: #0033FF;
  padding: 1.625rem 0;
  margin-bottom: 0;
  margin: 0 33%;
  border-radius: 1.5rem;
  border: .5rem solid #FFFF00;
  /* box-shadow: 2px 4px rgba(75,0,130,.3); */
}

.question {
  padding-left: 2rem;
  padding-bottom: .125rem;
}

.answer {
  padding-left: 1rem;
}

ul {
  list-style-type: none;
}

.icon {
  display: inline-block;
  position: relative;
  top: .125rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  text-align: center;
  margin-top: .187rem;
  background-color: #FFFF00;
  border: .08rem solid #FFFF00;
}

.icon-letter {
  position: relative;
  bottom: .125rem;
  color: #0033FF;
}
