.team-name {
  text-align: center;
  font-size: 3rem;
  font-family: 'Gloria Hallelujah', Comic Sans MS, sans-serif;
  font-weight: 500;
  color: #FFFF00;
  background-color: #0033FF;
  margin: 0 33%;
  margin-top: 2rem;
  border-radius: 1.5rem;
  border: .25rem solid #FFFF00;
  box-shadow: 2px 4px rgba(75,0,130,.3);
}
