.oval {
  background-color: #0033FF;
  margin: 2% 70% 0 2%;
  height: 8rem;
  border-radius: 50%;
  border: .5rem solid #FFFF00;
  /* box-shadow: 2px 4px rgba(75,0,130,.3); */
}

.crew-logo {
  position: relative;
  bottom: 3.75rem;
  font-family: "Brush Script MT", "Arial Black", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  color: #FFFF00;
  text-align: center;
}

.nav-bar {
  position: absolute;
  top: 3%;
  right: 3%;
}

.btn {
  text-align: center;
  color: #FFFF00;
}
